{
  "plugins": [
    "flow-comments",
    ["transform-builtin-extend", { "globals": ["Error"] }]
  ],
  "presets": ["es2015", "stage-0"],
  "env": {
    "test": {
      "plugins": ["rewire"]
    }
  }
}
