{
  "presets": [
    ["env", {
      "targets"     : { "node": 5 },
      "loose"       : true,
      "useBuiltIns" : true
    }]
  ],
  "plugins": [
    "flow-comments",
    ["transform-builtin-extend", { "globals": ["Error"] }],
    ["transform-export-extensions", { "loose": true }],
    ["transform-function-bind", { "loose": true }]
  ],
  "env": {
    "nyc": { "plugins": ["istanbul"] }
  }
}
