# Logs
*.log
npm-debug.log*

# Node - Dependencies
node_modules
yarn.lock

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Build
/packages/*/lib

# OS - OSX
.DS_Store

# OS - Windows
Thumbs.db
ehthumbs.db
